*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fafafa;
    margin: 0;
    font-family: sans-serif;
}
h1{
    font-size: 2.76em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.2em;
}
p{
    font-size: 0.95em;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 1.4em;
}
.contenedor{
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
}
/* parte superior del header */
.header_top{
    display: flex;
    flex-direction: column;
}

.header_logo{
    display: flex;
}

.header_top .buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
}
.buscador input{
    width: 90%;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.buscador button {
  width: 10%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono_lupa {
  width: 20px; 
  height: 20px;
  display: block; 
}

/* parte inferior del header */
.header_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.categorias ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    padding-bottom: 15px;
    
}
.categorias a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.85em;
}

/* estilo del hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
            ),url("img/ingenieros_promedios.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.promociones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.promociones h2{
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}
.promociones .contenedor{
    overflow: auto;
    height: 60vh;
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,95%);
    gap: 10px;
}
.producto_promo{
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5
}
/* catlagode productos */

.productos_categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.productos_categorias h2{
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;   
}
.productos_categorias .contenedor{
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.producto{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.producto_info{
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.precio-box{
    background-color: red;
}
.btn_consultar{
    background-color: #4da6ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* pre footer */

.pre-footer{
    display: block;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    margin-top: 50px;
    text-align: center;
}
.info-box{
    flex: 1;
}
.info-box h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.info-box p {
    font-size: 0.95rem;
    line-height: 1.5;
}

/* contenido final de la pagina */
footer .contenedor{
    background-color: #222;
    color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.footer_logo{
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.footer_contenido{
    display: block;
    justify-content: space-between;
    margin-bottom: 30px;
    /* padding: 0 50px; */
    text-align: center;
}
.footer_contenido h3{
    font-size: 0.8em;
}

.footer_info{
    padding: 3px 0;
}
.footer_info ul{
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer_info li{
    font-size: 0.8em;
    padding: 0 8px;
}

.footer_info a{
    color: #4da6ff;
}

.contactos{
    display: none;
}
.contactos p{
    font-size: 1em;
}



.copyright{
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 9px;
}